<div class="col-sm-12">
  <h4 class="text-center">新用户注册</h4>
  <form class="form-horizontal" role="form" name="registerForm" novalidate (submit)="onSubmit($event)" #registerForm="ngForm">
    <div class="form-group">
      <label class="col-sm-3 control-label" for="userName">用户名</label>
      <div class="col-sm-8">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="icon-user"></span>
          </span>
          <input [(ngModel)]="registerDto.UserName" type="text" class="form-control" name="userName" id="userName" placeholder="请输入用户名"
            required [rangeLength]="[5,30]" [remote]="'/api/identity/CheckUserNameExists?userName=:value'" #spy #UserName="ngModel">
        </div>
        <div *ngIf="UserName.errors && (UserName.dirty || UserName.touched)">
          <span class="text-danger" *ngIf="UserName.errors.required">用户名不能为空</span>
          <span class="text-danger" *ngIf="UserName.errors.rangeLength">用户名长度应在5-30个字符之间</span>
          <span class="text-danger" *ngIf="UserName.errors.remote">用户名已存在，请更换重试</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="password">密码</label>
      <div class="col-sm-8">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="icon-lock-open"></span>
          </span>
          <input [(ngModel)]="registerDto.Password" type="password" class="form-control" name="password" id="password" placeholder="请输入密码"
            required [minlength]="6" #spy #Password="ngModel">
        </div>
        <div *ngIf="Password.errors && (Password.dirty || Password.touched)">
          <span class="text-danger" *ngIf="Password.errors.required">密码不能为空</span>
          <span class="text-danger" *ngIf="Password.errors.minlength">密码长度不足6位</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="confirmPassword">确认密码</label>
      <div class="col-sm-8">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="icon-lock"></span>
          </span>
          <input [(ngModel)]="registerDto.ConfirmPassword" type="password" class="form-control" name="confirmPassword" id="confirmPassword"
            placeholder="请输入确认密码" required [equalTo]="Password" #spy #ConfirmPassword="ngModel">
        </div>
        <div *ngIf="ConfirmPassword.errors && (ConfirmPassword.dirty || ConfirmPassword.touched)">
          <span class="text-danger" *ngIf="ConfirmPassword.errors.required">确认密码不能为空</span>
          <span class="text-danger" *ngIf="ConfirmPassword.errors.equalTo">两次输入密码不一致</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="nickName">用户昵称</label>
      <div class="col-sm-8">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="icon-people"></span>
          </span>
          <input [(ngModel)]="registerDto.NickName" type="text" class="form-control" name="nickName" id="nickName" placeholder="请输入用户昵称"
            required [rangeLength]="[3,20]" [remote]="'/api/identity/CheckNickNameExists?nickName=:value'" #spy #NickName="ngModel">
        </div>
        <div *ngIf="NickName.errors && (NickName.dirty || NickName.touched)">
          <span class="text-danger" *ngIf="NickName.errors.required">用户昵称不能为空</span>
          <span class="text-danger" *ngIf="NickName.errors.rangeLength">用户昵称长度应在3-20个字符之间</span>
          <span class="text-danger" *ngIf="NickName.errors.remote">用户昵称已存在，请更换重试</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="email">电子邮箱</label>
      <div class="col-sm-8">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="icon-envelope"></span>
          </span>
          <input [(ngModel)]="registerDto.Email" type="text" class="form-control" name="email" id="email" placeholder="请输入电子邮箱" required
            email [remote]="'/api/identity/CheckEmailExists?email=:value'" #spy #Email="ngModel">
        </div>
        <div *ngIf="Email.errors && (Email.dirty || Email.touched)">
          <span class="text-danger" *ngIf="Email.errors.required">电子邮箱不能为空</span>
          <span class="text-danger" *ngIf="Email.errors.email">电子邮箱格式不正确，应形如xxx@xxx.xxx</span>
          <span class="text-danger" *ngIf="Email.errors.remote">电子邮箱已存在，请更换重试</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-lg col-sm-offset-5 col-sm-2" [disabled]="!(registerForm.form.valid && canSubmit)" type="submit">
        <span class="icon-plus"> 注册 </span>
      </button>
    </div>
  </form>
  <p class="text-center">
    已有账号？
    <a [routerLink]="'/identity/login'">直接登录</a>
  </p>
  <p class="text-center text-danger" *ngIf="message">{{message}}</p>
</div>
