# indicate this is the root of the project
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
indent_size = 4

[*.{html,razor,cshtml,json,js,ts,xml,xaml,css,less,csproj}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false