<div nz-col nzXs="24" nzSm="20" nzMd="16" nzLg="14" nzXl="12" nzXXl="10">
  <sf #sf [schema]="schema" [button]="null">
    <ng-template sf-template="OldPassword" let-me>
      <nz-input-group nzSize="large" nzPrefixIcon="unlock">
        <input nz-input type="password" [ngModel]="me.formProperty.value" (ngModelChange)="oldPasswordChange(me, $event)" placeholder="请输入旧密码" />
      </nz-input-group>
    </ng-template>
    <ng-template sf-template="NewPassword" let-me>
      <nz-input-group nzSize="large" nzPrefixIcon="unlock">
        <input nz-input type="password" [ngModel]="me.formProperty.value" (ngModelChange)="newPasswordChange(me, $event)" placeholder="请输入新密码" />
      </nz-input-group>
    </ng-template>
    <ng-template sf-template="ConfirmNewPassword" let-me>
      <nz-input-group nzSize="large" nzPrefixIcon="unlock">
        <input nz-input type="password" [ngModel]="me.formProperty.value" (ngModelChange)="comfirePasswordChange(me, $event)" placeholder="请输入确认密码" />
      </nz-input-group>
    </ng-template>
    <button nz-button nzType="primary" (click)="submit(sf.value)" [disabled]="!sf.valid">保存</button>
  </sf>
</div>
