<div class="col-sm-12">
  <h4 class="text-center">{{title}}</h4>
  <form *ngIf="!isSended" class="form-horizontal" role="form" name="sendMailForm" novalidate (submit)="onSubmit()" #sendMailForm="ngForm">
    <div class="form-group">
      <label class="col-sm-3 control-label" for="email">电子邮箱</label>
      <div class="col-sm-8">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="icon-envelope"></span>
          </span>
          <input [(ngModel)]="sendDto.Email" type="text" class="form-control" name="email" id="email" placeholder="请输入电子邮箱" required
            email [remote]="'/api/identity/CheckEmailNotExists?email=:value'" #Email="ngModel">
        </div>
        <div *ngIf="Email.errors && (Email.dirty || Email.touched)">
          <p class="text-danger" *ngIf="Email.errors.required">电子邮箱不能为空</p>
          <p class="text-danger" *ngIf="Email.errors.email">电子邮箱格式不正确，应形如xxx@xxx.xxx</p>
          <p class="text-danger" *ngIf="Email.errors.remote">电子邮箱不存在，请更换重试</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-lg col-sm-offset-5 col-sm-2" [disabled]="!(sendMailForm.form.valid && canSubmit)" type="submit">
        <span class="icon-arrow-right-circle"> 下一步 </span>
      </button>
      <a style="line-height: 45px;margin-left: 10px;" href="javascript:history.back();">返回</a>
    </div>
  </form>
  <p class="text-center text-danger" *ngIf="message">{{message}}</p>
</div>
