@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<Button @onclick="@ButtonClick" Color="Color.Success">成功按钮</Button>

@code
{
  private void ButtonClick()
  {

  }
}
