<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h2 class="text-center">OSharp Framework with .NetStandard 2.0 & Angular5</h2>
        </div>
      </div>
      <div class="panel-body">
        <a [routerLink]="['/users']" class="btn btn-default">
          <i class="fa fa-user"></i>
          <span>用户中心</span>
        </a>
        <a [routerLink]="['/admin']" class="btn btn-default">
          <i class="fa fa-gears"></i>
          <span>后台管理</span>
        </a>
        <a href="https://github.com/i66soft/osharp-ns20" class="btn btn-default" target="_blank">
          <i class="fa fa-github"></i>
          <span>Source Code</span>
        </a>
        <a [routerLink]="['/identity']" class="btn btn-default">
          <i class="icon-login"></i>
          <span>登录</span>
        </a>
        <a [routerLink]="['/identity/register']" class="btn btn-default">
          <i class="icon-plus"></i>
          <span>注册</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="startupInfo && startupInfo.Modules">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">模块列表</div>
      </div>
      <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover">
          <thead>
            <tr>
              <td>名称</td>
              <td>路径</td>
              <td>级别</td>
              <td>层次</td>
              <td>已启用</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let module of startupInfo.Modules">
              <td>{{module.Name}}</td>
              <td>{{module.Class}}</td>
              <td>{{module.Level}}</td>
              <td>{{module.Order}}</td>
              <td>{{module.IsEnabled}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="startupInfo && startupInfo.Lines">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">其他信息</div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li *ngFor="let line of startupInfo.Lines" class="list-group-item"> {{line}} </li>
        </ul>
      </div>
    </div>
  </div>
</div>
