<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.netcore.app\2.0.0\ref\netcoreapp2.0\netstandard.dll" #>
<#@ assembly name="C:\Program Files\dotnet\sdk\NuGetFallbackFolder\system.linq.expressions\4.3.0\lib\net463\System.Linq.Expressions.dll" #>
<#@ assembly name="C:\Program Files\dotnet\sdk\NuGetFallbackFolder\system.runtime\4.3.0\lib\net462\System.Runtime.dll" #>
<#@ assembly name="C:\Program Files\dotnet\sdk\NuGetFallbackFolder\system.componentmodel.annotations\4.4.0\lib\net461\System.ComponentModel.Annotations.dll" #>
<#@ assembly name="C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.extensions.identity.core\2.0.0\lib\netstandard2.0\Microsoft.Extensions.Identity.Core.dll" #>
<#@ assembly name="$(TargetDir)OSharp.dll" #>
<#@ assembly name="$(TargetDir)OSharp.Permissions.dll" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="OSharp" #>
<#@ import namespace="OSharp.Develop.T4" #>
<#@ import namespace="OSharp.Entity" #>
<#@ import namespace="OSharp.Reflection" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="EntityConfigurationTemplate.tt" #>
<#
    string currentPath = Path.GetDirectoryName(Host.TemplateFile);
    string projectPath = currentPath.Substring("", @"\T4");
    string modelFile = Path.Combine(projectPath, @"bin\Debug\netstandard2.0\OSharp.Demo.Core.dll");
    byte[] fileData = File.ReadAllBytes(modelFile);
    Assembly assembly = Assembly.Load(fileData);
    Type baseType = typeof(EntityBase<>);
    List<Type> modelTypes = null;
	try
	{
		modelTypes = assembly.GetTypes().Where(m => baseType.IsGenericAssignableFrom(m) && !m.IsAbstract).ToList();
	} 
	catch(ReflectionTypeLoadException e)
	{
		foreach(var ex in e.LoaderExceptions)
		{
	#>
<#= ex #>
	<#
		}
	}
	string mainNameSpace = "OSharp.Demo";
    foreach(Type modelType in modelTypes)
    {
        T4ModelInfo model = new T4ModelInfo(modelType, "(?<=Demo\\.)\\S+(?=\\.Entities)");
        //实体映射类
        EntityConfigurationTemplate config = new EntityConfigurationTemplate(model, mainNameSpace);
        string path = string.Format(@"{0}\{1}", projectPath, model.ModuleName);
        config.Output.Encoding = Encoding.UTF8;
        config.RenderToFile(Path.Combine(path, config.FileName));
    }
#>