/* You can add global styles to this file, and also import other style files */

//== Vendor
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/simple-line-icons/css/simple-line-icons.css';
@import '../node_modules/weather-icons/css/weather-icons.css';
@import '../node_modules/weather-icons/css/weather-icons-wind.css';

@import '../node_modules/spinkit/css/spinkit.css';
@import '../node_modules/loaders.css/loaders.css';

@import '../node_modules/angular2-toaster/toaster.css';

@import '../node_modules/ng2-dnd/style.css';

@import '../node_modules/ag-grid/dist/styles/ag-grid.css';
@import '../node_modules/ag-grid/dist/styles/theme-fresh.css';

@import '../node_modules/ika.jvectormap/jquery-jvectormap-1.2.2.css';

@import '../node_modules/jqcloud2/dist/jqcloud.css';

@import '../node_modules/summernote/dist/summernote.css';

@import '../node_modules/fullcalendar/dist/fullcalendar.min.css';

@import '../node_modules/codemirror/lib/codemirror.css';

@import '../node_modules/sweetalert/dist/sweetalert.css';

//== Bootstrap
@import "./app/shared/angle/styles/bootstrap.scss";

//== kendo ui
@import "../node_modules/@progress/kendo-ui/css/web/kendo.common.css";
@import "../node_modules/@progress/kendo-ui/css/web/kendo.Material.css";

//== Application
@import "./app/shared/angle/styles/app.scss";

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';