<div class="alain-default__aside-inner">
  <nz-dropdown nzTrigger="click" class="alain-default__aside-user">
    <div nz-dropdown class="user-block-dropdown">
      <nz-avatar class="alain-default__aside-user-avatar" [nzSrc]="user.avatar"></nz-avatar>
      <div class="alain-default__aside-user-info">
        <strong title="{{user.nickName}}">{{user.nickName}}</strong>
        <p class="text-truncate mb0" title="{{user.email}}">{{user.email}}</p>
      </div>
    </div>
    <ul nz-menu>
      <li nz-menu-item (click)="msgSrv.success('profile')">个人资料</li>
      <li nz-menu-item (click)="msgSrv.success('settings')">设置</li>
      <li nz-menu-item (click)="msgSrv.success('logout')">登出</li>
    </ul>
  </nz-dropdown>
  <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
