<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title - OSharpNS</title>
<environment names="Development">
    <link href="~/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</environment>
</head>
<body>
    @RenderBody()
<environment names="Development">
    <script src="~/libs/jquery/dist/jquery.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.js"></script>
</environment>
    @RenderSection("scripts", required: false)
</body>
</html>
