<div class="alain-default__aside-inner">
  <nz-dropdown nzTrigger="click" class="alain-default__aside-user">
    <div nz-dropdown class="user-block-dropdown">
      <nz-avatar class="alain-default__aside-user-avatar" [nzSrc]="settings.user.avatar"></nz-avatar>
      <div class="alain-default__aside-user-info">
        <strong>{{settings.user['nickName'] || settings.user.name}}</strong>
        <p class="text-truncate mb0">{{settings.user.email}}</p>
      </div>
    </div>
    <ul nz-menu>
      <li nz-menu-item routerLink="/profile"><i nz-icon type="user" class="mr-sm"></i>{{ 'menu.account.center' | translate }}</li>
      <li nz-menu-item routerLink="/profile/edit"><i nz-icon type="setting" class="mr-sm"></i>{{ 'menu.account.settings' | translate }}</li>
      <li nz-menu-item (click)="logout()"><i nz-icon type="logout" class="mr-sm"></i>{{ 'menu.account.logout' | translate }}</li>
    </ul>
  </nz-dropdown>
  <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
