<div class="logo">
  <a [routerLink]="['/']">
    <img class="expanded" src="{{app.logo_full}}" alt="{{app.name}}" style="max-height:40px;" />
    <img class="collapsed" src="{{app.logo}}" alt="{{app.name}}" style="max-height:30px;" />
  </a>
</div>
<div class="top-nav-wrap">
  <ul class="top-nav">
    <!-- Menu -->
    <li>
      <div class="item" (click)="toggleCollapsedSideabar()">
        <i class="anticon anticon-menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
      </div>
    </li>
    <!-- Lock Page -->
    <li class="hidden-xs">
      <div class="item" [routerLink]="['/lock']">
        <i class="anticon anticon-lock"></i>
      </div>
    </li>
  </ul>
  <ul class="top-nav"></ul>
  <ul class="top-nav">
    <!-- Notify -->
    <li>
      <header-notify></header-notify>
    </li>
    <!-- App Icons -->
    <li class="hidden-xs">
      <header-icon></header-icon>
    </li>
    <!-- Settings -->
    <li class="hidden-xs" *ngIf="user.name">
      <nz-dropdown nzTrigger="click" nzPlacement="bottomRight">
        <div class="item" nz-dropdown>
          <i class="anticon anticon-setting"></i>
        </div>
        <div nz-menu style="width:200px;">
          <div nz-menu-item>
            <header-fullscreen></header-fullscreen>
          </div>
          <div nz-menu-item>
            <header-storage></header-storage>
          </div>
        </div>
      </nz-dropdown>
    </li>
    <li class="hidden-xs">
      <a class="item" href="//github.com/i66soft/osharp-ns20" target="_blank" title="前往 GitHub 获取源代码">
        <i class="anticon anticon-github"></i>
      </a>
    </li>
    <li class="hidden-xs">
      <header-user *ngIf="user.name"></header-user>
      <div *ngIf="!user.name">
        <a [routerLink]="[ '/identity/login' ]">
          <i class="anticon anticon-login"></i>登录
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a [routerLink]="[ '/identity/register' ]">
          <i class="anticon anticon-plus-circle-o"></i>注册
        </a>
      </div>
    </li>
  </ul>
</div>