@import '../../../shared/angle/styles/app/variables.scss';
@import '../../../shared/angle/styles/app/media-queries.scss';

.home-container {
    margin: 0 auto;
    max-width: $container-md;

    .home-logo {
        width: 240px;
    }

    .home-text {
        @media only screen and (max-width: $mq-tablet) {
            text-align: center;
        }
    }
}
