<div id="grid-box"></div>
<kendoui-window [options]="windowOptions" (init)="onWinInit($event)" (closing)="onWinClose($event)" (submited)="onWinSubmit($event)">
    <kendoui-tabstrip [options]="tabstripOptions">
        <ul>
            <li class="k-state-active">角色</li>
            <li>权限</li>
        </ul>
        <div style="overflow:auto;">
            <kendoui-treeview [options]="roleTreeOptions" (init)="onRoleTreeInit($event)"></kendoui-treeview>
        </div>
        <div>
            <kendoui-treeview [options]="moduleTreeOptions" (init)="onModuleTreeInit($event)"></kendoui-treeview>
        </div>
    </kendoui-tabstrip>
</kendoui-window>