<div class="router-progress-bar" *ngIf="isFetching">
</div>
<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <a href="/#/">
          <img src="./assets/osharp/logo.svg" alt="{{setting.app.name}}" class="logo">
          <span class="title">{{setting.app.name}}</span>
        </a>
      </div>
      <div class="desc">{{setting.app.description}}</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer>
      Copyright
      <i class="anticon anticon-copyright"></i> 2018
      <a href="https://github.com/i66soft/osharp-ns20" target="_blank">柳柳软件</a>出品
    </global-footer>
  </div>
</div>
