@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>@ViewBag.Title - OSharp管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/css/public.css" media="all">
  @await RenderSectionAsync("header", false)
</head>
<body>
  <div class="layui-container">
    @RenderBody()
  </div>
  <script src="/lib/layui/layui.js" charset="utf-8"></script>
  <script src="/js/osharp.js" charset="utf-8"></script>
  @await RenderSectionAsync("footer", false)
</body>
</html>
