<ng-container *ngIf="!(settings.user && settings.user.name); else userSelectTemplate">
  <a mat-button [routerLink]="[ '/identity/login' ]">
    <mat-icon>exit_to_app</mat-icon>
    <span mat-line>登录</span>
  </a>
  <a mat-button [routerLink]="[ '/identity/register' ]">
    <mat-icon>add_box</mat-icon>
    <span mat-line>注册</span>
  </a>
</ng-container>
<ng-template #userSelectTemplate>
  <button mat-button [matMenuTriggerFor]="menuUserRef">
    <mat-icon>person</mat-icon>
    <span mat-line>{{settings.user.nickName}}</span>
  </button>
  <mat-menu #menuUserRef="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>person</mat-icon>
      <span mat-line>个人中心</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>settings</mat-icon>
      <span mat-line>设置</span>
    </button>
    <button mat-menu-item *ngIf="settings.user.isAdmin" (click)="router.navigateByUrl('/admin')">
      <mat-icon>account_balance</mat-icon>
      <span mat-line>进入后台</span>
    </button>
    <button mat-menu-item (click)="identity.logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span mat-line>退出</span>
    </button>
  </mat-menu>
</ng-template>
