mat-toolbar {
    position: fixed;
    z-index: 100000;
    .logo {
        width: 150px;
        transition: width .2s;
        a {
            display: block;
            text-align: center;
            touch-action: manipulation;
        }
        img {
            vertical-align: middle;
            max-width: 100%;
            border-style: none;
        }
        .expanded {
            display: inline;
        }
        .collapsed {
            display: none;
        }
    }
}

.nav-main-menu {
    display: none;
}

.nav-main-menu-right {
    display: inline-block;
    .mat-button {
        min-width: 0px;
        padding: 0 10px;
    }
}

.nav-sidebar-toggle {
    display: inline-block;
}

.component-content {
    max-width: 1152px;
    margin: 0 auto;
    margin-top: 64px;
}

@media screen and (min-width: 960px) {
    .nav-main-menu {
        display: inline-block;
    }
    .nav-sidebar-toggle {
        display: none;
    }
}

@media screen and (max-width:959px) {
    mat-toolbar .logo {
        width: 40px;
        .expanded {
            display: none;
        }
        .collapsed {
            display: inline;
        }
    }
}

@media screen and (max-width:599px){
  .component-content{
    margin-top: 56px;
  }
}

.content {
    margin: 64px auto 24px auto;
    width: 1152px;
}
