<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a routerLink="/" (click)="sidenav.close()" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Home</span>
      </a>
      <a routerLink="/login" (click)="sidenav.close()" mat-list-item>
        <mat-icon mat-list-icon>lock_outline</mat-icon>
        <span mat-line>Login</span>
      </a>
      <a routerLink="/register" (click)="sidenav.close()" mat-list-item>
        <mat-icon mat-list-icon>add_box</mat-icon>
        <span mat-line>Register</span>
      </a>
      <a routerLink="/full" (click)="sidenav.close()" mat-list-item>
        <mat-icon mat-list-icon>add_box</mat-icon>
        <span mat-line>Full form</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()" class="nav-sidebar-toggle">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo">
        <a [routerLink]="[ '/' ]">
          <img class="expanded" src="{{settings.app.logo_full}}" alt="{{settings.app.name}}" style="max-height:40px;" />
          <img class="collapsed" src="{{settings.app.logo}}" alt="{{settings.app.name}}" style="max-height:30px;" />
        </a>
      </div>
      <div class="nav-main-menu">
        <a *ngFor="let nav of mainNavs" href="{{nav.link}}" [target]="nav.target?nav.target:'_self'" [disabled]="nav.disabled" mat-button>
          <mat-icon mat-list-icon>{{nav.icon}}</mat-icon>
          <span mat-line>{{nav.text}}</span>
        </a>
      </div>
      <div class="blank-grow"></div>
      <div class="nav-main-menu-right">
        <a *ngFor="let nav of mainActions" routerLink="{{nav.link}}" mat-button>
          <mat-icon>{{nav.icon}}</mat-icon>
          <!-- <span mat-line>{{nav.text}}</span> -->
        </a>
        <a mat-button href="https://github.com/i66soft/osharp-ns20" target="_blank" title="前往Github查看源码">
          <img src="../../../assets/res/github.svg" />
          <span mat-line> Github</span>
        </a>
        <ng-container *ngIf="!(settings.user && settings.user.name); else userSelectTemplate">
          <a mat-button [routerLink]="[ '/identity/login' ]">
            <mat-icon>exit_to_app</mat-icon>
            <span mat-line>登录</span>
          </a>
          <a mat-button [routerLink]="[ '/identity/register' ]">
            <mat-icon>add_box</mat-icon>
            <span mat-line>注册</span>
          </a>
        </ng-container>
        <ng-template #userSelectTemplate>
          <button mat-button [matMenuTriggerFor]="menuUserRef">
            <mat-icon>person</mat-icon>
            <span mat-line>{{settings.user.name}}</span>
          </button>
          <mat-menu #menuUserRef="matMenu">
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span mat-line>个人中心</span>
            </button>
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span mat-line>设置</span>
            </button>
            <button mat-menu-item (click)="identity.logout()">
              <mat-icon>power_settings_new</mat-icon>
              <span mat-line>退出</span>
            </button>
          </mat-menu>
        </ng-template>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>