<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a *ngFor="let nav of mainNavs" href="{{nav.link}}" [target]="nav.target?nav.target:'_self'" (click)="sidenav.close()" mat-list-item>
        <mat-icon mat-list-icon>{{nav.icon}}</mat-icon>
        <span mat-line>{{nav.text}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()" class="nav-sidebar-toggle">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo">
        <a [routerLink]="[ '/' ]">
          <img class="expanded" src="{{settings.app.logo_full}}" alt="{{settings.app.name}}" style="max-height:40px;" />
          <img class="collapsed" src="{{settings.app.logo}}" alt="{{settings.app.name}}" style="max-height:30px;" />
        </a>
      </div>
      <div class="nav-main-menu">
        <a *ngFor="let nav of mainNavs" href="{{nav.link}}" [target]="nav.target?nav.target:'_self'" [disabled]="nav.disabled" mat-button>
          <mat-icon mat-list-icon>{{nav.icon}}</mat-icon>
          <span mat-line>{{nav.text}}</span>
        </a>
      </div>
      <div class="blank-grow"></div>
      <div class="nav-main-menu-right">
        <a *ngFor="let nav of mainActions" routerLink="{{nav.link}}" mat-button>
          <mat-icon>{{nav.icon}}</mat-icon>
          <!-- <span mat-line>{{nav.text}}</span> -->
        </a>
        <a mat-button href="https://github.com/i66soft/osharp-ns20" target="_blank" title="前往Github查看源码">
          <img src="../../../assets/res/github.svg" />
          <span mat-line> Github</span>
        </a>
        <layout-user-menu></layout-user-menu>
      </div>
    </mat-toolbar>
    <div class="component-content">
      <router-outlet></router-outlet>
    </div>
    <layout-footer></layout-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
