.wrapper > section{margin-bottom: 0px !important;}
.wrapper > section .content-wrapper{padding: 5px;}

::ng-deep .k-grid .c-checkbox span, .c-radio span{width:17px;height: 17px;}
::ng-deep .k-grid-header th.k-header,
::ng-deep .k-filter-row th{padding-left: .1em;}
::ng-deep .k-grid-header th.k-with-icon .k-link{margin-right: 0;overflow: visible;}
::ng-deep .k-header > .k-grid-filter,
::ng-deep .k-header > .k-header-column-menu{float: left;margin-right: -0.2em;}
::ng-deep .k-grid .c-checkbox input[type=checkbox]:checked + span{border-width: 0; background-color: rgb(170, 170, 170)}
::ng-deep .k-grid .c-checkbox{margin: 0 0 0 4px;}
::ng-deep #tree-list-box tbody button.k-button,
::ng-deep #grid-box tbody a.k-button{min-width: 0;}
::ng-deep .k-window .win-footer{padding: 10px; border-top: 1px solid #eee; margin: .7em -0.58em -0.58em -0.58em; height: 30px;}
::ng-deep .k-window .win-footer .k-button{float: right; margin-right: 10px;}
::ng-deep .k-window .win-content{overflow: auto;}
::ng-deep .k-tabstrip > .k-content, ::ng-deep.k-panelbar .k-tabstrip > .k-content{margin: 0 1px 1px;}
::ng-deep .k-tabstrip-items .k-state-active{background-color: #7282dc}

//Grid工具栏右侧
::ng-deep .k-grid-toolbar .toolbar-right{float: right; margin: 0; padding: 0;}
::ng-deep .k-grid-toolbar .toolbar-right li{margin:0 5px; list-style: none;}
::ng-deep .k-grid-toolbar .toolbar-right a{color:white; padding: 5px;}
::ng-deep .k-grid-toolbar .toolbar-right a>em{padding: 6px;}
::ng-deep .k-grid-toolbar .toolbar-right a:hover{color:#252f69; }
