<div *ngIf="!result.show">
  <h3 class="text-center" style="font-size: 20px; margin-bottom: 20px;">{{title}}</h3>
  <sf #sf mode="edit" [schema]="schema" [button]="null">
    <ng-template sf-template="NewPassword" let-me>
      <nz-input-group nzSize="large" nzPrefixIcon="unlock">
        <input nz-input type="password" [ngModel]="me.formProperty.value" (ngModelChange)="newPasswordChange(me, $event)" placeholder="请输入新密码" />
      </nz-input-group>
    </ng-template>
    <ng-template sf-template="ConfirmPassword" let-me>
      <nz-input-group nzSize="large" nz-popover nzPrefixIcon="lock">
        <input nz-input type="password" [ngModel]="me.formProperty.value" (ngModelChange)="confirmPasswordChange(me, $event)" placeholder="请输入确认密码" />
      </nz-input-group>
    </ng-template>
    <button nz-button nzType="primary" type="submit" (click)="submit(sf.value)" [disabled]="!sf.valid" [nzLoading]="identity.http.loading">提交</button>
    <a [routerLink]="[ '/' ]"> 返回首页 </a>
  </sf>
</div>
<result *ngIf="result.show" type="{{result.type}}" [title]="result.title" description="{{result.description}}">
  <button nz-button [nzType]="'primary'" (click)="router.navigate(['passport/login'])" *ngIf="result.type=='success'">登录</button>
  <button nz-button [nzType]="'primary'" (click)="result.show=false" *ngIf="result.type!='success'">返回</button>
  <button nz-button (click)="router.navigate(['home'])">返回首页</button>
</result>
