<div class="wrapper">
    <!-- top navbar-->
    <admin-header class="topnavbar-wrapper"></admin-header>
    <!-- sidebar-->
    <admin-sidebar class="aside"></admin-sidebar>
    <!-- offsidebar-->
    <admin-offsidebar class="offsidebar"></admin-offsidebar>
    <!-- Main section-->
    <section>
        <!-- Page content-->
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </section>
    <!-- Page footer-->
    <!-- <footer admin-footer></footer> -->
</div>