@inherits LayoutComponentBase
@*<div class="sidebar">
      <NavMenu />
  </div>

  <div class="main">
      <div class="top-row px-4">
          <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
      </div>

      <div class="content px-4">
          @Body
      </div>
  </div>*@
<div style="width: 100%; height: 100%; border: 1px solid;">
  <Layout SideWidth="160px">
    <Header>
      <div class="d-flex justify-content-center align-items-center" style="height: 50px; color: #fff; margin: 0 -1px;">Header</div>
    </Header>
    <Side>
      <div style="position: absolute; top: 0; left:0; right: 0; bottom: 0; overflow: auto; border-right: 1px solid rgba(0,0,0,.125); padding: 6px 0;">
        <Menu Items="@GetIconSideMenuItems()" IsVertical="true"></Menu>
      </div>
    </Side>
    <Main>
      <div style="padding: 1rem;">Main</div>
    </Main>
    <Footer>
      <div class="d-flex justify-content-center align-items-center" style="height: 30px; color: #fff; background-color: #5b6e84; margin: 0 -1px;">Footer</div>
    </Footer>
  </Layout>
</div>

@code
{
  private IEnumerable<MenuItem> GetIconSideMenuItems()
  {
    var ret = new List<MenuItem>
{
      new MenuItem() { Text = "系统设置", IsActive = true, Icon = "fa fa-fw fa-gears" },
      new MenuItem() { Text = "权限设置", Icon = "fa fa-fw fa-users" },
      new MenuItem() { Text = "日志设置", Icon = "fa fa-fw fa-database" }
    };

    ret[0].AddItem(new MenuItem() { Text = "网站设置", Icon = "fa fa-fw fa-fa" });
    ret[0].AddItem(new MenuItem() { Text = "任务设置", Icon = "fa fa-fw fa-tasks" });

    ret[1].AddItem(new MenuItem() { Text = "用户设置", Icon = "fa fa-fw fa-user" });
    ret[1].AddItem(new MenuItem() { Text = "菜单设置", Icon = "fa fa-fw fa-dashboard" });
    ret[1].AddItem(new MenuItem() { Text = "角色设置", Icon = "fa fa-fw fa-sitemap" });

    ret[2].AddItem(new MenuItem() { Text = "访问日志", Icon = "fa fa-fw fa-bars" });
    ret[2].AddItem(new MenuItem() { Text = "登录日志", Icon = "fa fa-fw fa-user-circle-o" });
    ret[2].AddItem(new MenuItem() { Text = "操作日志", Icon = "fa fa-fw fa-edit" });

    return ret;
  }
}
