<div class="content-heading">
    <span>{{title}}</span>
</div>
<kendo-grid [data]="model|async" [height]="500" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
    [sortable]="{allowUnsort:true,mode:'multiple'}" [pageable]="{type:'input'}" [filterable]="true" (dataStateChange)="dataStateChange($event)"
    (add)="addRow($event)" (cellClick)="editClick($event)">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>
            <i class="k-icon k-i-plus"></i>新增</button>
        <button class="k-button" (click)="refresh()">刷新</button>
    </ng-template>
    <kendo-grid-column field="name" title="名称" width="250"></kendo-grid-column>
    <kendo-grid-column field="accessType" title="功能类型" width="80" filter="numeric"></kendo-grid-column>
    <kendo-grid-column field="cacheExpirationSeconds" title="缓存秒数" width="80" filter="numeric"></kendo-grid-column>
    <kendo-grid-column field="auditOperationEnabled" title="操作审计" width="80" filter="boolean"></kendo-grid-column>
    <kendo-grid-column field="auditEntityEnabled" title="数据审计" width="80" filter="boolean"></kendo-grid-column>
    <kendo-grid-column field="isCacheSliding" title="滑动过期" width="80" filter="boolean"></kendo-grid-column>
    <kendo-grid-column field="isLocked" title="已锁定" width="80" filter="boolean" editor="boolean"></kendo-grid-column>
    <kendo-grid-column field="isAjax" title="Ajax访问" width="80" filter="boolean"></kendo-grid-column>
</kendo-grid>