<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestVuew</title>
    <base href="~/" />

    <link rel="stylesheet" asp-append-version="true" href="~/dist/vendor.css" />
    <environment exclude="Development">
        <link rel="stylesheet" asp-append-version="true" href="~/dist/site.css" />
    </environment>
</head>
<body>
    @RenderBody()
    <script asp-append-version="true" src="~/dist/vendor.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
