<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - OSharpNS</title>
    <base href="~/" />
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
