<nz-card *ngIf="systemInfo" nzTitle="模块列表" [nzBordered]="false">
  <nz-table [nzData]="systemInfo.Packs" [nzShowPagination]="false">
    <thead>
      <tr>
        <td>名称</td>
        <td>路径</td>
        <td>级别</td>
        <td>层次</td>
        <td>已启用</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pack of systemInfo.Packs">
        <td>{{pack.Name}}</td>
        <td>{{pack.Class}}</td>
        <td>{{pack.Level}}</td>
        <td>{{pack.Order}}</td>
        <td>{{pack.IsEnabled}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-card *ngIf="systemInfo" nzTitle="其他信息">
  <nz-list>
    <nz-list-item *ngFor="let line of systemInfo.Lines">{{line}}</nz-list-item>
  </nz-list>
</nz-card>