<div class="content-heading">
    Angular Material
    <small>Material Design components for Angular apps</small>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Autocomplete</div>
    <div class="panel-body">
        <mat-input-container>
            <input matInput placeholder="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
        </mat-input-container>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let state of filteredStates | async" [value]="state">
                {{ state }}
            </mat-option>
        </mat-autocomplete>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Checkbox</div>
    <div class="panel-body">
        <h5>Checkbox configuration</h5>
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
        </section>
        <section class="example-section">
            <label class="example-margin">Align:</label>
            <mat-radio-group [(ngModel)]="align">
                <mat-radio-button class="example-margin" value="start">Start</mat-radio-button>
                <mat-radio-button class="example-margin" value="end">End</mat-radio-button>
            </mat-radio-group>
        </section>
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
        </section>
        <h5>Result</h5>
        <section class="example-section">
            <mat-checkbox class="example-margin" [checked]="checked" [indeterminate]="indeterminate" [align]="align" [disabled]="disabled">
                I'm a checkbox
            </mat-checkbox>
        </section>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Input</div>
    <div class="panel-body">
        <form class="example-form">
            <mat-input-container class="example-full-width">
                <input matInput placeholder="Company (disabled)" disabled value="Google">
            </mat-input-container>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-input-container class="example-full-width">
                            <input matInput placeholder="First name">
                        </mat-input-container>
                    </td>
                    <td>
                        <mat-input-container class="example-full-width">
                            <input matInput placeholder="Long Last Name That Will Be Truncated">
                        </mat-input-container>
                    </td>
                </tr>
            </table>
            <p>
                <mat-input-container class="example-full-width">
                    <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
                </mat-input-container>
                <mat-input-container class="example-full-width">
                    <textarea matInput placeholder="Address 2"></textarea>
                </mat-input-container>
            </p>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-input-container class="example-full-width">
                            <input matInput placeholder="City">
                        </mat-input-container>
                    </td>
                    <td>
                        <mat-input-container class="example-full-width">
                            <input matInput placeholder="State">
                        </mat-input-container>
                    </td>
                    <td>
                        <mat-input-container class="example-full-width">
                            <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
                            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        </mat-input-container>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Radio Button</div>
    <div class="panel-body">
        <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
            </mat-radio-button>
        </mat-radio-group>
        <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Select</div>
    <div class="panel-body">
        <mat-form-field>
            <mat-select placeholder="Favorite food">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{ food.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Slider</div>
    <div class="panel-body">
        <h5>Slider configuration</h5>
        <section>
            <mat-input-container class="example-margin">
                <input matInput type="number" placeholder="Value" [(ngModel)]="value">
            </mat-input-container>
            <mat-input-container class="example-margin">
                <input matInput type="number" placeholder="Min value" [(ngModel)]="min">
            </mat-input-container>
            <mat-input-container class="example-margin">
                <input matInput type="number" placeholder="Max value" [(ngModel)]="max">
            </mat-input-container>
            <mat-input-container class="example-margin">
                <input matInput type="number" placeholder="Step size" [(ngModel)]="step">
            </mat-input-container>
        </section>
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="showTicks">Show ticks</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="autoTicks" *ngIf="showTicks">
                Auto ticks
            </mat-checkbox>
            <mat-input-container class="example-margin" *ngIf="showTicks && !autoTicks">
                <input matInput type="number" placeholder="Tick interval" [(ngModel)]="tickInterval">
            </mat-input-container>
        </section>
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="thumbLabel">Show thumb label</mat-checkbox>
        </section>
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="vertical">Vertical</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="invert">Inverted</mat-checkbox>
        </section>
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="disabledSlider">Disabled</mat-checkbox>
        </section>
        <h5>Result</h5>
        <mat-slider class="example-margin" [disabled]="disabledSlider" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel" [tick-interval]="tickInterval" [value]="value" [vertical]="vertical">
        </mat-slider>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Slider Toggle</div>
    <div class="panel-body">
        <h5>Slider configuration</h5>
        <section class="example-section">
            <label class="example-margin">Color:</label>
            <mat-radio-group [(ngModel)]="color">
                <mat-radio-button class="example-margin" value="primary">
                    Primary
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="accent">
                    Accent
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="warn">
                    Warn
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="checkedSliderToggle">Checked</mat-checkbox>
        </section>
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="disabledSliderToggle">Disabled</mat-checkbox>
        </section>
        <h5>Result</h5>
        <section class="example-section">
            <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedSliderToggle" [disabled]="disabledSliderToggle">
                Slide me!
            </mat-slide-toggle>
        </section>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Menu</div>
    <div class="panel-body">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voicemail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Sidenav</div>
    <div class="panel-body">
        <mat-sidenav-container class="example-sidenav-fab-container">
            <mat-sidenav #sidenav mode="side" opened="true">
                <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
                    <mat-icon>add</mat-icon>
                </button>
                <div class="example-scrolling-content">
                    Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id, neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien consectetuer.
                </div>
            </mat-sidenav>
            <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
                <mat-icon>add</mat-icon>
            </button>
            <div class="example-scrolling-content">
                Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id, neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien consectetuer.
            </div>
        </mat-sidenav-container>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Toolbar</div>
    <div class="panel-body">
        <span>Custom Toolbar</span>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Second Line</span>
                <span class="example-spacer"></span>
                <mat-icon class="example-icon">verified_user</mat-icon>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span>Third Line</span>
                <span class="example-spacer"></span>
                <mat-icon class="example-icon">favorite</mat-icon>
                <mat-icon class="example-icon">delete</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">List</div>
    <div class="panel-body">
        <mat-list>
            <h3 mat-subheader>Folders</h3>
            <mat-list-item *ngFor="let folder of folders">
                <mat-icon mat-list-avatar>folder</mat-icon>
                <h4 mat-line>{{folder.name}}</h4>
                <p mat-line> {{folder.updated | date}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Notes</h3>
            <mat-list-item *ngFor="let note of notes">
                <mat-icon mat-list-avatar>note</mat-icon>
                <h4 mat-line>{{note.name}}</h4>
                <p mat-line> {{note.updated | date}} </p>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Grid list</div>
    <div class="panel-body">
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
                {{tile.text}}
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<mat-card class="example-card mb-lg">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/welcome.jpg">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
<div class="panel panel-default">
    <div class="panel-heading">Buttons</div>
    <div class="panel-body">
        <h5>Normal Buttons</h5>
        <div class="example-button-row">
            <button mat-button>Flat button</button>
            <button mat-raised-button>Raised button</button>
            <button mat-fab>
                <mat-icon>check</mat-icon>
            </button>
            <button mat-mini-fab>
                <mat-icon>check</mat-icon>
            </button>
        </div>
        <h5>Link Buttons</h5>
        <div class="example-button-row">
            <a mat-button routerLink=".">Flat button</a>
            <a mat-raised-button routerLink=".">Raised button</a>
            <a mat-fab routerLink=".">
                <mat-icon>check</mat-icon>
            </a>
            <a mat-mini-fab routerLink=".">
                <mat-icon>check</mat-icon>
            </a>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Button Toggle</div>
    <div class="panel-body">
        <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="left">
                <mat-icon>format_align_left</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="center">
                <mat-icon>format_align_center</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="right">
                <mat-icon>format_align_right</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="justify" disabled>
                <mat-icon>format_align_justify</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
        <div class="example-selected-value">Selected value: {{group.value}}</div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Chips</div>
    <div class="panel-body">
        <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip *ngFor="let chipColor of availableColors" selected="true" color="{{chipColor.color}}">
                {{chipColor.name}}
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Progress Spinner</div>
    <div class="panel-body">
        <h5>Progress circle configuration</h5>
        <section class="example-section">
            <label class="example-margin">Color:</label>
            <mat-radio-group [(ngModel)]="colorProgressSpinner">
                <mat-radio-button class="example-margin" value="primary">
                    Primary
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="accent">
                    Accent
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="warn">
                    Warn
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <section class="example-section">
            <label class="example-margin">Mode:</label>
            <mat-radio-group [(ngModel)]="modeProgressSpinner">
                <mat-radio-button class="example-margin" value="determinate">
                    Determinate
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="indeterminate">
                    Indeterminate
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <section class="example-section" *ngIf="modeProgressSpinner == 'determinate'">
            <label class="example-margin">Progress:</label>
            <mat-slider class="example-margin" [(ngModel)]="valueProgressSpinner"></mat-slider>
        </section>
        <h5>Result</h5>
        <mat-progress-spinner class="example-margin" [color]="colorProgressSpinner" [mode]="modeProgressSpinner" [value]="valueProgressSpinner">
        </mat-progress-spinner>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Progress Bar</div>
    <div class="panel-body">
        <h5>Progress bar configuration</h5>
        <section class="example-section ">
            <label class="example-margin ">Color:</label>
            <mat-radio-group [(ngModel)]="colorProgressBar">
                <mat-radio-button class="example-margin " value="primary ">
                    Primary
                </mat-radio-button>
                <mat-radio-button class="example-margin " value="accent ">
                    Accent
                </mat-radio-button>
                <mat-radio-button class="example-margin " value="warn ">
                    Warn
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <section class="example-section ">
            <label class="example-margin ">Mode:</label>
            <mat-radio-group [(ngModel)]="modeProgressBar">
                <mat-radio-button class="example-margin" value="determinate">
                    Determinate
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="indeterminate">
                    Indeterminate
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="buffer">
                    Buffer
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="query">
                    Query
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <section class="example-section " *ngIf="modeProgressBar=='determinate' || modeProgressBar=='buffer' ">
            <label class="example-margin ">Progress:</label>
            <mat-slider class="example-margin " [(ngModel)]="valueProgressBar"></mat-slider>
        </section>
        <section class="example-section " *ngIf="modeProgressBar=='buffer' ">
            <label class="example-margin ">Buffer:</label>
            <mat-slider class="example-margin " [(ngModel)]="bufferValue"></mat-slider>
        </section>
        <h5>Result</h5>
        <section class="example-section">
            <mat-progress-bar class="example-margin" [color]="colorProgressBar" [mode]="modeProgressBar" [value]="valueProgressBar" [bufferValue]="bufferValue">
            </mat-progress-bar>
        </section>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Dialog</div>
    <div class="panel-body">
        <button mat-button (click)="openDialog()">Launch dialog</button>
        You chose: {{selectedOption}}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Tooltip</div>
    <div class="panel-body">
        <div class="example-tooltip-host" matTooltip="Tooltip!" [matTooltipPosition]="position">
            <div>Show tooltip</div>
            <mat-form-field>
                <mat-select class="example-select" [(ngModel)]="position">
                    <mat-option value="before">Before</mat-option>
                    <mat-option value="after">After</mat-option>
                    <mat-option value="above">Above</mat-option>
                    <mat-option value="below">Below</mat-option>
                    <mat-option value="left">Left</mat-option>
                    <mat-option value="right">Right</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Snackbar</div>
    <div class="panel-body">
        <button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
            Pizza party
        </button>
    </div>
</div>
