.example-section {
    height: 60px;
    line-height: 60px;
}

.example-form {
    max-width: 500px;
}

.example-full-width {
    width: 100%;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

.example-margin {
    margin: 10px;
}

.mat-slider-horizontal {
    max-width: 300px;
}

.mat-slider-vertical {
    height: 300px;
}

.example-sidenav-fab-container {
    max-width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-fab-container mat-sidenav {
    max-width: 200px;
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container mat-sidenav {
    display: flex;
    overflow: visible;
}

.example-scrolling-content {
    overflow: auto;
}

.example-fab {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    width: 100%;
    max-width: 400px;
}

.example-header-image {
    background-image: url('/assets/img/welcome.jpg');
    background-size: cover;
}

.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.example-tooltip-host {
    display: inline-flex;
    align-items: center;
    margin: 50px;
}

.example-select {
    margin: 0 10px;
}

.mat-list .mat-list-item .mat-line, .mat-nav-list .mat-list-item .mat-line {
    overflow: hidden;
}