<#+
// <copyright file="Template_Entity_Configuration.tt" company="">
//  Copyright © . All Rights Reserved.
// </copyright>

public class EntityConfigurationTemplate : CSharpTemplate
{
        private readonly TypeMetadata _entity;
        private readonly string _entityName;
        private readonly string _lowerEntityName;
        private readonly string _moduleName = null;
        private readonly PropertyMetadata _key;

        public EntityConfigurationTemplate(TypeMetadata entity, string modulePattern)
        {
            _entityName = entity.Name;
            _lowerEntityName = entity.Name.UpperToLowerAndSplit();
            _entity = entity;
            _key = entity.PropertyMetadatas.First(m => m.Name == "Id");
            if(modulePattern != null)
            {
                _moduleName = entity.Namespace.Match(modulePattern);
                switch(entity.FullName)
                {
                    case "OSharp.Core.Functions.Function":
                    case "OSharp.Core.EntityInfos.EntityInfo":
                        _moduleName = "Security";
                        break;
                    case "OSharp.Core.Systems.KeyValue":
                        _moduleName = "Systems";
                        break;
                }
            }
        }

        public string FileName
        {
            get
            {
                return string.IsNullOrEmpty(_moduleName)
                    ? string.Format("{0}Configuration.txt", _entityName)
                    : string.Format("{0}\\{1}Configuration.txt", _moduleName, _entityName);
            }
        }

        public string ProjectName { get; set; }

	    public override string TransformText()
	    {
		    base.TransformText();
#>
// -----------------------------------------------------------------------
//  <copyright file="<#=_entityName #>Configuration.cs" company="OSharp开源团队">
//      Copyright (c) 2014-<#=DateTime.Now.Year #> OSharp. All rights reserved.
//  </copyright>
//  <site>http://www.osharp.org</site>
//  <last-editor>郭明锋</last-editor>
//  <last-date><#=DateTime.Now.ToString("yyyy-MM-dd HH:mm") #></last-date>
// -----------------------------------------------------------------------

using System;

using <#=(string.IsNullOrEmpty(ProjectName) ? "Liuliu.Demo" : ProjectName)#><#=(string.IsNullOrEmpty(_moduleName) ? "" : "."+_moduleName) #>.Entities;

using Microsoft.EntityFrameworkCore;
using Microsoft.EntityFrameworkCore.Metadata.Builders;

using OSharp.Entity;


namespace <#=(string.IsNullOrEmpty(ProjectName) ? "Liuliu.Demo" : ProjectName)#>.EntityConfiguration<#=(string.IsNullOrEmpty(_moduleName) ? "" : "."+_moduleName) #>
{
    /// <summary>
    /// 实体映射配置类：<#=_entity.Display #>
    /// </summary>
    public partial class <#=_entityName #>Configuration : EntityTypeConfigurationBase<<#=_entityName #>, <#=GetSingleTypeName(_key) #>>
    {
        /// <summary>
        /// 重写以实现实体类型各个属性的数据库配置
        /// </summary>
        /// <param name="builder">实体类型创建器</param>
        public override void Configure(EntityTypeBuilder<<#=_entityName #>> builder)
        {
            
        }
    }
}
<#+
            return this.GenerationEnvironment.ToString();
	    }

        
        private static string GetSingleTypeName(PropertyMetadata prop)
        {
            string name = prop.TypeName;
            switch(prop.TypeName)
            {
                case "System.Int32":
                    name = "int";
                    break;
                case "System.Long":
                    name = "long";
                    break;
                case "System.Decimal":
                    name = "decimal";
                    break;
                case "System.String":
                    name = "string";                    
                    break;
                case "System.Guid":
                    name = "Guid";
                    break;
                case "System.Boolean":
                    name = "bool";
                    break;
                case "System.DateTime":
                    name = "DateTime";
                    break;
            }
            if(prop.IsNullable)
            {
                name = name + "?";
            }
            return name;
        }
}
#>
