<div class="container-md">
  <div class="card">
    <div class="card-heading">
      <div class="card-title">Material Forms</div>
    </div>
    <div class="card-body bg-inverse">
      <div class="row">
        <div class="col-sm-4">
          <div class="mda-form-group">
            <input class="mda-form-control mda-form-light" [(ngModel)]="user.title" name="title" tabindex="0" aria-invalid="false" />
            <label>Title</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mda-form-group">
            <input class="mda-form-control mda-form-light" [(ngModel)]="user.email" name="email" tabindex="0" aria-invalid="false" />
            <label>Email</label>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="mda-form-group">
            <input class="mda-form-control" disabled="" [(ngModel)]="user.company" name="company" tabindex="0" aria-invalid="false" />
            <label>Company(disabled)</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mda-form-group float-label">
            <input class="mda-form-control" [(ngModel)]="user.firstName" name="firstName" required="" tabindex="0" aria-required="true"
              aria-invalid="true" />
            <label>First Name</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mda-form-group float-label">
            <input class="mda-form-control" [(ngModel)]="user.lastName" name="lastName" required="" tabindex="0" aria-required="true"
              aria-invalid="true" />
            <label>Last Name</label>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="mda-form-group">
            <input class="mda-form-control" [(ngModel)]="user.address" name="address" tabindex="0" aria-invalid="false" />
            <label>Address</label>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="mda-form-group">
            <input class="mda-form-control" [(ngModel)]="user.address2" name="address2" tabindex="0" aria-invalid="false" />
            <label>Address 2</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="mda-form-group">
            <input class="mda-form-control" [(ngModel)]="user.city" name="city" tabindex="0" aria-invalid="false" />
            <label>City</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mda-form-group">
            <input class="mda-form-control" [(ngModel)]="user.state" name="state" tabindex="0" aria-invalid="false" />
            <label>State</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mda-form-group">
            <input class="mda-form-control" [(ngModel)]="user.postalCode" name="postalCode" tabindex="0" aria-invalid="false" />
            <label>Postal Code</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="mda-form-group">
            <textarea class="mda-form-control" [(ngModel)]="user.biography" name="biography" rows="4" aria-multiline="true" tabindex="0"
              aria-invalid="false"></textarea>
            <label>Biography</label>
            <span class="mda-form-msg right">Any message here</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="mda-form-group">
            <select class="mda-form-control" [(ngModel)]="user.select" name="select">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              <option value="4">Option 4</option>
              <option value="5">Option 5</option>
            </select>
            <label>Select</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading bg-primary">
      <div class="pull-right">
        <em class="icon-layers fa-2x"></em>
      </div>
      <div class="card-title">Material Forms</div>
    </div>
    <div class="card-toolbar bg-primary">Errors</div>
    <div class="card-body">
      <form class="form-validate">
        <div class="mda-form-group float-label mb">
          <input class="mda-form-control" [(ngModel)]="user.clientName" name="clientName" required="" tabindex="0" aria-required="true"
            aria-invalid="true" />
          <label>Client Name</label>
          <span class="mda-form-msg">This input is required</span>
        </div>
        <div class="mda-form-group">
          <input class="mda-form-control" [(ngModel)]="user.salary" name="salary" tabindex="0" aria-invalid="true" />
          <label>Salary</label>
          <span class="mda-form-msg">Your salary must be at least 6 digits</span>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-heading bg-primary">
      <div class="card-title">Icons</div>
    </div>
    <div class="card-body">
      <div class="mda-form-group float-label mb mda-input-group">
        <input class="mda-form-control" type="text" [(ngModel)]="username" />
        <label>Username</label>
        <span class="mda-input-group-addon">
          <em class="icon-user-follow fa-lg"></em>
        </span>
      </div>
      <div class="mda-form-group mb mda-input-group">
        <input class="mda-form-control" type="text" [(ngModel)]="phone" />
        <label>Phone</label>
        <span class="mda-input-group-addon">
          <em class="fa fa-phone text-primary fa-lg"></em>
        </span>
      </div>
    </div>
  </div>
</div>
