<div class="content-heading">Lists</div>
<div class="container-md">
    <div class="card">
        <div class="card-subheader">Text tems</div>
        <ul class="mda-list">
            <li class="mda-list-item">
                <div class="mda-list-item-text">
                    <h3>Min Li Chan</h3>
                    <h4>Brunch this weekend?</h4>
                    <p>I&apos;ll be in your neighborhood doing errands</p>
                </div>
            </li>
            <li class="mda-list-item">
                <div class="mda-list-item-text">
                    <h3><a href="#">Min Li Chan</a>
               </h3>
                    <h4>Brunch this weekend?</h4>
                    <p>I&apos;ll be in your neighborhood doing errands</p>
                </div>
            </li>
        </ul>
        <div class="card-divider"></div>
        <div class="card-subheader">Image with text items</div>
        <div class="mda-list">
            <div class="mda-list-item">
                <img class="mda-list-item-img" src="assets/img/user/01.jpg" alt="List user" />
                <div class="mda-list-item-text">
                    <h3>Min Li Chan</h3>
                    <h4>Brunch this weekend?</h4>
                    <p>I&apos;ll be in your neighborhood doing errands</p>
                </div>
            </div>
            <div class="mda-list-item">
                <img class="mda-list-item-img" src="assets/img/user/02.jpg" alt="List user" />
                <div class="mda-list-item-text">
                    <h3><a href="#">Min Li Chan</a>
               </h3>
                    <h4>Brunch this weekend?</h4>
                    <p>I&apos;ll be in your neighborhood doing errands</p>
                </div>
            </div>
            <div class="mda-list-item">
                <img class="mda-list-item-img" src="assets/img/user/03.jpg" alt="List user" />
                <div class="mda-list-item-text">
                    <h3>Min Li Chan</h3>
                    <h4>Brunch this weekend?</h4>
                    <p>I&apos;ll be in your neighborhood doing errands</p>
                </div>
            </div>
        </div>
        <div class="card-divider"></div>
        <div class="card-subheader">Icons with text items</div>
        <div class="mda-list">
            <div class="mda-list-item">
                <div class="mda-list-item-icon bg-primary">
                    <em class="fa fa-star fa-lg"></em>
                </div>
                <div class="mda-list-item-text mda-2-line">
                    <h3>Min Li Chan</h3>
                    <h4>Brunch this weekend?</h4>
                </div>
            </div>
            <div class="mda-list-item">
                <div class="mda-list-item-icon bg-info">
                    <em class="fa fa-coffee fa-lg"></em>
                </div>
                <div class="mda-list-item-text mda-2-line">
                    <h3>Min Li Chan</h3>
                    <h4>Brunch this weekend?</h4>
                </div>
            </div>
            <div class="mda-list-item">
                <div class="mda-list-item-icon bg-purple">
                    <em class="fa fa-cloud fa-lg"></em>
                </div>
                <div class="mda-list-item-text mda-2-line">
                    <h3>Min Li Chan</h3>
                    <h4>Brunch this weekend?</h4>
                </div>
            </div>
            <div class="mda-list-item">
                <div class="mda-list-item-initial bg-pink">M</div>
                <div class="mda-list-item-text mda-2-line">
                    <h3>Min Li Chan</h3>
                    <h4>Brunch this weekend?</h4>
                </div>
            </div>
        </div>
    </div>
</div>
