<div class="content-heading">Cards
   <small>A card is a piece of paper with unique related</small>
</div>
<div class="container container-md">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-item">
                    <img class="img-responsive" src="assets/img/bg4.jpg" alt="MaterialImg" />
                    <p class="p text-white">Paracosm</p>
                </div>
                <div class="card-offset pull-right">
                    <button class="btn btn-primary btn-circle btn-lg" type="button">
                        <em class="icon-heart"></em>
                    </button>
                </div>
                <div class="card-body">
                    <h4 class="m0">Aenean</h4>
                    <p class="m0"><a class="mr-sm" href="">malesuada</a>
                        <span class="mr-sm text-muted">by</span><a href="">Eva Marshall</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-item">
                    <img class="img-responsive" src="assets/img/bg5.jpg" alt="MaterialImg" />
                    <p class="p text-white">Paracosm</p>
                </div>
                <div class="card-offset pull-right">
                    <button class="btn btn-info btn-circle btn-lg" type="button">15</button>
                </div>
                <div class="card-body">
                    <h4 class="m0">Aenean</h4>
                    <p class="m0"><a class="mr-sm" href="">malesuada</a>
                        <span class="mr-sm text-muted">by</span><a href="">Alvin Perry</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-item">
                    <img class="img-responsive" src="assets/img/bg7.jpg" alt="MaterialImg" />
                    <p class="p text-white">Paracosm</p>
                </div>
                <div class="card-offset pull-right">
                    <button class="btn btn-danger btn-circle btn-lg" type="button">
                        <em class="fa fa-retweet"></em>
                    </button>
                </div>
                <div class="card-body">
                    <h4 class="m0">Aenean</h4>
                    <p class="m0"><a class="mr-sm" href="">malesuada</a>
                        <span class="mr-sm text-muted">by</span><a href="">Janice James</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-item">
                    <img class="img-responsive" src="assets/img/bg8.jpg" alt="MaterialImg" />
                    <p class="p text-white">Paracosm</p>
                </div>
                <div class="card-offset pull-right">
                    <button class="btn btn-success btn-circle btn-lg" type="button">3</button>
                </div>
                <div class="card-body">
                    <h4 class="m0">Aenean</h4>
                    <p class="m0"><a class="mr-sm" href="">malesuada</a>
                        <span class="mr-sm text-muted">by</span><a href="">Roberta Wallace</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-item">
                    <img class="img-responsive" src="assets/img/bg10.jpg" alt="MaterialImg" />
                    <p class="p text-white">Paracosm</p>
                </div>
                <div class="card-offset pull-right">
                    <button class="btn btn-primary btn-circle btn-lg" type="button">
                        <em class="icon-star"></em>
                    </button>
                </div>
                <div class="card-body">
                    <h4 class="m0">Aenean</h4>
                    <p class="m0"><a class="mr-sm" href="">malesuada</a>
                        <span class="mr-sm text-muted">by</span><a href="">Hector Stewart</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-item">
                    <img class="img-responsive" src="assets/img/bg4.jpg" alt="MaterialImg" />
                    <p class="p text-white">Paracosm</p>
                </div>
                <div class="card-offset pull-right">
                    <button class="btn btn-purple btn-circle btn-lg" type="button">
                        <em class="icon-bubble"></em>
                    </button>
                </div>
                <div class="card-body">
                    <h4 class="m0">Aenean</h4>
                    <p class="m0"><a class="mr-sm" href="">malesuada</a>
                        <span class="mr-sm text-muted">by</span><a href="">Johnny</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-item">
                    <img class="img-responsive" src="assets/img/bg5.jpg" alt="MaterialImg" />
                    <p class="p text-white">Paracosm</p>
                </div>
                <div class="card-offset pull-right">
                    <button class="btn btn-primary btn-circle btn-lg" type="button">25</button>
                </div>
                <div class="card-body">
                    <h4 class="m0">Aenean</h4>
                    <p class="m0"><a class="mr-sm" href="">malesuada</a>
                        <span class="mr-sm text-muted">by</span><a href="">Alyssa</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-item">
                    <img class="img-responsive" src="assets/img/bg7.jpg" alt="MaterialImg" />
                    <p class="p text-white">Paracosm</p>
                </div>
                <div class="card-offset pull-right">
                    <button class="btn btn-green btn-circle btn-lg" type="button">50</button>
                </div>
                <div class="card-body">
                    <h4 class="m0">Aenean</h4>
                    <p class="m0"><a class="mr-sm" href="">malesuada</a>
                        <span class="mr-sm text-muted">by</span><a href="">Eileen</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-item">
                    <img class="img-responsive" src="assets/img/bg4.jpg" alt="MaterialImg" />
                    <p class="p text-white">Paracosm</p>
                </div>
                <div class="card-offset pull-right">
                    <button class="btn btn-pink btn-circle btn-lg" type="button">
                        <em class="icon-share"></em>
                    </button>
                </div>
                <div class="card-body">
                    <h4 class="m0">Aenean</h4>
                    <p class="m0"><a class="mr-sm" href="">malesuada</a>
                        <span class="mr-sm text-muted">by</span><a href="">Kay</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
