<h4 class="text-center pv">新用户注册</h4>
<form class="form-validate mb-lg" role="form" name="registerForm" novalidate (submit)="onSubmit($event)" #registerForm="ngForm">
  <div class="form-group">
    <label for="userName">用户名</label>
    <input [(ngModel)]="registerDto.UserName" type="text" name="userName" id="userName" class="form-control" placeholder="请输入用户名"
      required [rangeLength]="[5,30]" [remote]="'/api/identity/CheckUserNameExists?userName=:value'" #spy #UserName="ngModel"
    />
    <div *ngIf="UserName.errors && (UserName.dirty || UserName.touched)">
      <span class="text-danger" *ngIf="UserName.errors.required">用户名不能为空</span>
      <span class="text-danger" *ngIf="UserName.errors.rangeLength">用户名长度应在5-30个字符之间</span>
      <span class="text-danger" *ngIf="UserName.errors.remote">用户名已存在，请更换重试</span>
    </div>
  </div>
  <div class="form-group">
    <label for="password">密码</label>
    <input [(ngModel)]="registerDto.Password" type="password" name="password" id="password" class="form-control" placeholder="请输入密码"
      required [minlength]="6" #spy #Password="ngModel" />
    <div *ngIf="Password.errors && (Password.dirty || Password.touched)">
      <span class="text-danger" *ngIf="Password.errors.required">密码不能为空</span>
      <span class="text-danger" *ngIf="Password.errors.minlength">密码长度不足6位</span>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword">确认密码</label>
    <input [(ngModel)]="registerDto.ConfirmPassword" type="password" name="confirmPassword" id="confirmPassword" class="form-control"
      placeholder="请输入确认密码" required [equalTo]="Password" #spy #ConfirmPassword="ngModel" />
    <div *ngIf="ConfirmPassword.errors && (ConfirmPassword.dirty || ConfirmPassword.touched)">
      <span class="text-danger" *ngIf="ConfirmPassword.errors.required">确认密码不能为空</span>
      <span class="text-danger" *ngIf="ConfirmPassword.errors.equalTo">两次输入密码不一致</span>
    </div>
  </div>
  <div class="form-group">
    <label for="nickName">昵称</label>
    <input [(ngModel)]="registerDto.NickName" type="text" name="nickName" id="nickName" class="form-control" placeholder="请输入昵称"
      required [remote]="'/api/identity/CheckNickNameExists?nickName=:value'" #spy #NickName="ngModel" />
    <div *ngIf="NickName.errors && (NickName.dirty || NickName.touched)">
      <span class="text-danger" *ngIf="NickName.errors.required">昵称不能为空</span>
      <span class="text-danger" *ngIf="NickName.errors.remote">用户昵称已存在，请更换重试</span>
    </div>
  </div>
  <div class="form-group">
    <label for="email">电子邮箱</label>
    <input [(ngModel)]="registerDto.Email" type="text" name="email" id="email" class="form-control" placeholder="请输入电子邮箱" required
      [remote]="'/api/identity/CheckEmailExists?email=:value'" #spy #Email="ngModel" />
    <div *ngIf="Email.errors && (Email.dirty || Email.touched)">
      <span class="text-danger" *ngIf="Email.errors.required">电子邮箱不能为空</span>
      <span class="text-danger" *ngIf="Email.errors.remote">用户邮箱已存在，请更换重试</span>
    </div>
  </div>
  <button class="btn btn-block btn-primary mt-lg" [disabled]="!registerForm.form.valid" type="submit">注册</button>
</form>
<p class="text-center">已有账号？
  <a [routerLink]="'/identity/login'">直接登录</a>
</p>
