<page-header [fixed]="false" [autoBreadcrumb]="false" [content]="content">
  <ng-template #content>
    <div class="content">
      <div class="avatar">
        <nz-avatar [nzSrc]="settings.user.avatar"></nz-avatar>
      </div>
      <div class="desc">
        <div class="desc-title">{{settings.user['nickName']}}</div>
        <div>角色：{{settings.user['roles']}}</div>
      </div>
    </div>
  </ng-template>
</page-header>
<nz-card>
  <nz-tabset [(nzSelectedIndex)]="index">
    <nz-tab nzTitle="基本信息">
      <app-profile-edit></app-profile-edit>
    </nz-tab>
    <nz-tab nzTitle="修改密码">
      <app-profile-password></app-profile-password>
    </nz-tab>
    <nz-tab nzTitle="第三方账号绑定">
      <app-profile-oauth2></app-profile-oauth2>
    </nz-tab>
  </nz-tabset>
</nz-card>
