<page-header [fixed]="false" [autoBreadcrumb]="false" [content]="content" [tab]="tab">
  <ng-template #content>
    <div class="content">
      <div class="avatar">
        <nz-avatar [nzSrc]="settings.user.avatar"></nz-avatar>
      </div>
      <div class="desc">
        <div class="desc-title">{{settings.user['nickName']}}</div>
        <div>角色：{{settings.user['roles']}}</div>
      </div>
    </div>
  </ng-template>
  <ng-template #tab>
    <nz-tabset [(nzSelectedIndex)]="pos">
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.text" (nzClick)="to(tab)"></nz-tab>
    </nz-tabset>
  </ng-template>
</page-header>
<router-outlet></router-outlet>
