<div class="container-md">
    <div class="card">
        <div class="card-heading bg-primary">
            <div class="card-title">Checkboxes</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" />
                            <em class="bg-indigo-500"></em>This is a Checkbox</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-purple-500"></em>This is a Checkbox checked</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" disabled="" />
                            <em class="bg-indigo-500"></em>This is a Checkbox disabled</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" disabled="" />
                            <em class="bg-indigo-500"></em>This is a Checkbox checked and disabled</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-blue-500 empty"></em>This is a Checkbox empty</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-red-500"></em>This a checkbox red</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-pink-500"></em>This a checkbox pink</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-purple-500"></em>This a checkbox purple</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-deep-purple-500"></em>This a checkbox purple</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-indigo-500"></em>This a checkbox indigo</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-blue-500"></em>This a checkbox blue</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-cyan-500"></em>This a checkbox cyan</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-teal-500"></em>This a checkbox teal</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-green-500"></em>This a checkbox green</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-lime-500"></em>This a checkbox lime</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-yellow-500"></em>This a checkbox yellow</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-amber-500"></em>This a checkbox amber</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-orange-500"></em>This a checkbox orange</label>
                    </div>
                    <div class="mb">
                        <label class="mda-checkbox">
                            <input type="checkbox" checked="" />
                            <em class="bg-brown-500"></em>This a checkbox brown</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Radios-->
    <div class="card">
        <div class="card-heading bg-primary">
            <div class="card-title">Radios</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="oneradio" />
                            <em class="bg-indigo-500"></em>This is a radio</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="oneradio" checked="" />
                            <em class="bg-purple-500"></em>This is a radio checked</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="otherradio" disabled="" />
                            <em class="bg-indigo-500"></em>This is a radio disabled</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="otherradio" checked="" disabled="" />
                            <em class="bg-indigo-500"></em>This is a radio checked and disabled</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="emptyradio" checked="" />
                            <em class="bg-blue-500 empty"></em>This is a radio empty</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-red" checked="" />
                            <em class="bg-red-500"></em>This a radio red</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-pink" checked="" />
                            <em class="bg-pink-500"></em>This a radio pink</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-purple" checked="" />
                            <em class="bg-purple-500"></em>This a radio purple</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-deep-purple" checked="" />
                            <em class="bg-deep-purple-500"></em>This a radio purple</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-indigo" checked="" />
                            <em class="bg-indigo-500"></em>This a radio indigo</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-blue" checked="" />
                            <em class="bg-blue-500"></em>This a radio blue</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-cyan" checked="" />
                            <em class="bg-cyan-500"></em>This a radio cyan</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-teal" checked="" />
                            <em class="bg-teal-500"></em>This a radio teal</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-green" checked="" />
                            <em class="bg-green-500"></em>This a radio green</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-lime" checked="" />
                            <em class="bg-lime-500"></em>This a radio lime</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-yellow" checked="" />
                            <em class="bg-yellow-500"></em>This a radio yellow</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-amber" checked="" />
                            <em class="bg-amber-500"></em>This a radio amber</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-orange" checked="" />
                            <em class="bg-orange-500"></em>This a radio orange</label>
                    </div>
                    <div class="mb">
                        <label class="mda-radio">
                            <input type="radio" name="someradio-brown" checked="" />
                            <em class="bg-brown-500"></em>This a radio brown</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
