<div class="item user-block" *ngIf="userBlockIsVisible()">
  <!-- User picture-->
  <div class="user-block-picture">
    <div class="user-block-status">
      <img class="img-thumbnail img-circle" [src]="user.picture" alt="Avatar" />
      <div class="circle circle-success circle-lg"></div>
    </div>
  </div>
  <!-- Name and Job-->
  <div class="user-block-info">
    <span class="user-block-name">
      <span style="font-size: 12px;">{{ 'sidebar.WELCOME' | translate }}</span>
      <span style="margin: 5px;">{{user.name}}</span>
      <span class="user-block-role">角色：{{user.remark}}</span>
    </span>
  </div>
</div>
