name: CI

on:
  push:
    branches: [ dev/develop ]
  pull_request:
    branches: [ master ]

jobs:
  build-on-dotnetcore:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2    
      with: 
        fetch-depth: 0
    - name: Setup dotnet5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Setup dotnet3.1
      uses: actions/setup-dotnet@v1
      with: 
        dotnet-version: 3.1.x

    - name: Linux Build
      run: |
        dotnet build ./src/OSharp/OSharp.csproj
        dotnet build ./src/OSharp.AspNetCore/OSharp.AspNetCore.csproj
        dotnet build ./src/OSharp.Authorization.Datas/OSharp.Authorization.Datas.csproj
        dotnet build ./src/OSharp.Authorization.Functions/OSharp.Authorization.Functions.csproj
        dotnet build ./src/OSharp.AutoMapper/OSharp.AutoMapper.csproj
        dotnet build ./src/OSharp.EntityFrameworkCore/OSharp.EntityFrameworkCore.csproj
        dotnet build ./src/OSharp.EntityFrameworkCore.MySql/OSharp.EntityFrameworkCore.MySql.csproj
        dotnet build ./src/OSharp.EntityFrameworkCore.Oracle/OSharp.EntityFrameworkCore.Oracle.csproj
        dotnet build ./src/OSharp.EntityFrameworkCore.PostgreSql/OSharp.EntityFrameworkCore.PostgreSql.csproj
        dotnet build ./src/OSharp.EntityFrameworkCore.Sqlite/OSharp.EntityFrameworkCore.Sqlite.csproj
        dotnet build ./src/OSharp.EntityFrameworkCore.SqlServer/OSharp.EntityFrameworkCore.SqlServer.csproj
        dotnet build ./src/OSharp.Exceptionless/OSharp.Exceptionless.csproj
        dotnet build ./src/OSharp.Hangfire/OSharp.Hangfire.csproj
        dotnet build ./src/OSharp.Identity/OSharp.Identity.csproj
        dotnet build ./src/OSharp.Log4Net/OSharp.Log4Net.csproj
        dotnet build ./src/OSharp.MiniProfiler/OSharp.MiniProfiler.csproj
        dotnet build ./src/OSharp.NLog/OSharp.NLog.csproj
        dotnet build ./src/OSharp.Redis/OSharp.Redis.csproj
        dotnet build ./src/OSharp.Swagger/OSharp.Swagger.csproj
        dotnet build ./src/OSharp.Hosting.Core/OSharp.Hosting.Core.csproj
        dotnet build ./src/OSharp.Hosting.EntityConfiguration/OSharp.Hosting.EntityConfiguration.csproj
        dotnet build ./src/OSharp.Hosting.Apis/OSharp.Hosting.Apis.csproj
  build-on-desktop:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup dotnet5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Windows Build
      run: dotnet build ./src/OSharp.Wpf/OSharp.Wpf.csproj
    - name: Windows Test
      run: |
        dotnet test ./tests/OSharp.Tests/OSharp.Tests.csproj --verbosity normal
        dotnet test ./tests/OSharp.AspNetCore.Tests/OSharp.AspNetCore.Tests.csproj --verbosity normal
        dotnet test ./tests/Liuliu.Demo.Core.Tests/Liuliu.Demo.Core.Tests.csproj --verbosity normal