<div class="rule-box" *ngIf="properties">
  <nz-select [(ngModel)]="rule.Field" nzSize="small" (ngModelChange)="fieldChange($event)" required>
    <nz-option *ngFor="let property of properties" [nzValue]="property.Name" [nzLabel]="property.Display"></nz-option>
  </nz-select>
  <nz-select [(ngModel)]="rule.Operate" nzSize="small" required>
    <nz-option *ngFor="let entry of operateEntries" [nzValue]="entry.Operate" [nzLabel]="entry.Display"></nz-option>
  </nz-select>
  <input nz-input [(ngModel)]="rule.Value" style="width:150px; margin-right:8px;" nzSize="small" required />
  <button nz-button (click)="removeRule()" nzType="default" nzSize="small" nzShape="circle">
    <i class="anticon anticon-close"></i>
  </button>
</div>